<%- include('partials/header'); -%>

<div class="container">
  <h1>About Garbage Detection System</h1>
  <br>
  <p>
    The Garbage Detection System is an innovative solution designed to detect garbage in real-time. It leverages advanced computer vision and machine learning techniques to identify items accurately.
  </p>
  <p>
    Our system aims to address the growing concern of improper waste management and its impact on the environment. By automating the garbage detection process, we can enhance waste sorting efficiency and enable recycling efforts effectively.
  </p>
  <p>
    Key features of the Garbage Detection System:
  </p>
  <ul>
    <li>Real-time garbage detection </li>
    <li>Reduced manual intervention and labor costs</li>
    <li>Scalable and adaptable architecture</li>
  </ul>
  <p>
    We believe that by implementing the Garbage Detection System, we can contribute to a cleaner and more sustainable future. Together, we can make a positive impact on the environment and promote responsible waste management practices.
  </p>
  <p>
      Thank You!
  </p>
</div>

<%- include('partials/footer'); -%>