<%- include('partials/header'); -%>

<div class="container">
    <h1>Contact Us</h1>
    <br>
    <p>For more details you can contact us through given links</p>
    <br>
    <p>Feel free to ask your queries at <a href="mailto:ripalvnakiya5645@gmail.com">ripalvnakiya5645@gmail.com</a> 
    </p>
</div>

<%- include('partials/footer'); -%>